[flake8]
max-line-length = 90
# Ignoring E203 because it conflicts with black's autoformatting
extend-ignore = E203
# Ignore "Imported but unused" in __init__.py files
per-file-ignores = __init__.py:F401
